/* transitions */


 /* #box{
    width: 200px;
    height: 200px;
    background-color: red;
     transition:width 10s ease; 
}

#box:hover{
    background-color: yellow;
    width: 1200px;
}  */



/* keyframes */

  /* #box{
    width: 100px;
    height: 3px;
    background-color: blue;
    animation: linear 10s myloading;
}

@keyframes myloading{
0%{
    width: 100px;
    height: 3px;
    background-color: brown;
}
25%{
    width: 300px;
    height: 3px;
    background-color: yellow;
}
50%{
    width: 600px;
    height: 20px;
    background-color: black;
}
100%{
    width: 1300px;
    height: 3px;
    background-color: hotpink;
}





from{
    width: 100px;
    height: 3px;
    background-color: blue;

}
to{
    width: 1200px;
    height: 3px;
    background-color: blue;

} */

/* animation */
 /* #main{
    display: flex;
    gap: 20px;
    justify-content: center;
} 



#item1{
    width: 300px;
    height: 300px;
    background-color: aqua;
    animation: linear 10s myrotate;
}

#item2{
    width: 300px;
    height: 300px;
    background-color: blue;
    animation: linear 10s myrotate;

} 


 #item3{
    width: 300px;
    height: 300px;
    background-color: green;
    animation: linear 10s myrotate;

}

@keyframes myrotate{
    from{
        transform: rotate(90deg); 
    }
    to{
        transform: rotate(360deg); 

    } 

}  */ */

